<div class="card">
  <h2> Projects </h2>
  <div class="grid">
    @for (project of portolio.projects.projects; track $index) {
    <div class="col-6 mb-4">
      <p-card
        [header]="project.title"
        class="block h-full relative"
        [ngClass]="{ 'pr-2': $index % 2 === 0, 'pl-2': $index % 2 !== 0 }"
      >
        <p class="mb-5">
          {{ project.description }}
        </p>
        <div class="flex gap-2 flex-wrap mb-6">
          @for (technology of project.technologies; track technology) {
          <p-tag [value]="technology" [rounded]="true" />
          }
        </div>
        <p-button
          [label]="portolio.projects.buttonTitle"
          class="mt-5"
          rounded="true"
          outlined="true"
          class="absolute right-0 bottom-0 pb-4 pr-4"
        />
      </p-card>
    </div>
    }
  </div>
</div>
