<div class="card">
  <h1> Skills </h1>
  <p> {{portolio.skills.description}} </p>
  <div class="grid gap-4">
    <div class="col-6">
      <h2> {{portolio.skills.codingSkillsTitle}} </h2>
      <p-card>
        <div class="card">
          @for (technologie of portolio.skills.technologies; track $index) {
          <div class="col-12">
            <app-card-skill [technology]="technologie"></app-card-skill>
          </div>
          }
        </div>
      </p-card>
    </div>
    <div class="col-6">
      <h2> {{portolio.skills.technicalSkillsTitle}} </h2>
      <p-card>
        <div class="card">
          @for (skill of portolio.skills.technicalsSkills; track $index) {
          <div class="col-12">
            <app-card-skill
              [technology]="skill"
              class="h-full"
            ></app-card-skill>
          </div>
          }
        </div>
      </p-card>
    </div>
  </div>
</div>
