::ng-deep app-btn-switcher-theme {
    .p-buttonset .p-button:first-of-type:not(:only-of-type) {
       border-top-left-radius: 50%;
       border-bottom-left-radius: 50%;
    }
    .p-buttonset .p-button:last-of-type:not(:only-of-type) {
       border-top-right-radius: 50%;
       border-bottom-right-radius: 50%;
    }
    .p-selectbutton .p-button.p-highlight::before {
        border-radius: 50%;
    }
    .p-buttonset .p-button {
        width: 35px;
        display: inline-flex;
        justify-content: center;
    }
}