<div class="card">
  <div class="grid">
    <div class="col-6">
      <h1 class="mb-2">Hi, It's <strong>Yasmin</strong></h1>
      <h3 class="mt-0">I'm a <strong>Frontend Developer</strong></h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus corporis quo placeat, repellat ut, rerum earum dolorum iusto veniam deleniti repellendus nisi saepe voluptates porro. Rerum reiciendis nostrum quia consequuntur?</p>
    </div>
    <div class="col">
      <img src="assets/img/undraw_web_developer_p3e5.svg" alt="Web Developer" class="w-100" />
    </div>

  </div>
</div>