strong {
  color: var(--primary-600);
}

::ng-deep .card-input {
  width: 100%;

  input {
    width: 100%;
    height: 46px;
  }
}

::ng-deep .p-float-label {
  textarea ~ label {
    top: 1.25rem;
  }
  textarea:focus ~ label,
  .p-float-label textarea.p-filled ~ label {
    top: -0.75rem;
  }
}
